a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #81b6eb;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

body {
  min-width: "100vw";
  min-height: "100vh";
}
